html {
  width: 1172px;
  height: 876px;
  font-family:Helvetica;
}
body {
  width: 1172px;
  height: 876px;
  overflow: hidden;
}

.container{
  position: fixed;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-content: flex-start;
  width: 1172px;
  height: 876px;
}

.middleMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 842px;
  height: 876px;
}

label {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 25px;
  width: 413px;
  height: 170px;
  vertical-align: left;
}

label:hover {
  background-color: hsla(171,100%,84%,1);

}
label > img, h2 {
  margin-left: 32px;
}

label > img {
  width: 81px;
  height: 80px;
  order: 1;
  flex: 0 1 50%;
  align-self: center;
  margin-top: 32px;
  margin-right: 16px;
  margin-bottom: 16px;
}


label > h2 {
  font-weight: bold;
  order: 2;
  flex: 0 1 0%;
  margin-top: 40px;
  white-space: nowrap;
}

label > h4 {
  color: hsla(339,80%,60%,1);
  margin-top: -8px;
  margin-left: 32px;
  order: 3;
  flex: 0 1 0%;
}

label > h2, h4{
  display: absolute;
  position: static;
  vertical-align: left;
  text-align: left;
  align-self: flex-start;
  top: 0px;
  left: 0px,
}


.rightMenu {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  background: hsla(339,80%,70%,0.5);
  width: 298px;
  height: 640px;
  border-radius: 25px 25px 0px 0px;

}

.rightMenu > h2 {
  position: relative;
  color: hsla(339,80%,60%,1);
  margin-top: 16px;
  margin-left: 16px;
  font-weight: bold;
  text-align: left;

}

.rightMenu .rightProp {
  display: flex;
  flex-direction: line;
  flex-wrap: wrap;
  align-content: center;
  background: white;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 266px;
  height: auto;
}

.rightMenu .rightProp > h4{
  font-weight: bold;
  text-align: left;
  color: hsla(127,65%,30%,1);
  margin-bottom: 16px;
  margin-top: 16px;
  flex: 1 100%;
}

.rightMenu .rightProp > p {
  font-size: 16px;
  text-align: left;
  align-self: flex-start;
  margin-bottom:0px;
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 8px;
  flex: 1 50%;
}

.rightMenu .rightProp > input {
  font-size: 12px;
  text-align: right;
  margin-bottom:8px;
  margin-top: 8px;
  align-self: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  flex: 1 10%;

  max-width: 100px;
  min-width: 50px;
  max-height: 24px;
}

.rightMenu .rightProp > button {
  font-size: 12px;
  text-align: center;
  margin-bottom:8px;
  margin-top: 8px;
  align-self: flex-end;
  margin-left: 0px;
  margin-right: 8px;
  flex: 1 50%;
  max-width: 48px;
  min-width: 24px;
  max-height: 24px;
}

.rightMenu select {
  font-size: 12px;
  text-align: right;
  margin-bottom:8px;
  margin-top: 8px;
  align-self: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  flex: 1 10%;
  width: 96px;
  max-height: 24px;
}

.summaryMenu {
  display: inline-flex;
  flex-direction: line;
  flex-wrap: wrap;
  align-content: flex-start;
  background: hsla(124,96%,64%,0.3);
  color: hsla(232,94%,53%,1);
  width: 298px;
  height: 208px;
  border-radius: 0px 0px 25px 25px;
}

.summaryMenu h2 {
  position: relative;
  color: hsla(232,94%,53%,1);
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: left;
}

.summaryMenu h4 {
  font-weight: bold;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  flex: 1 100%;
}

.summaryMenu p {
  font-size: 16px;
  text-align: left;
  justify-content: flex-start;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  flex: 1 50%;
}
