[submodule "deps/reflex-dom"]
	path = deps/reflex-dom
	url = https://github.com/reflex-frp/reflex-dom.git
	branch = jsaddle
[submodule "deps/reflex"]
	path = deps/reflex
	url = https://github.com/reflex-frp/reflex.git
	branch = jsaddle
[submodule "deps/reflex-dom-contrib"]
	path = deps/reflex-dom-contrib
	url = https://github.com/reflex-frp/reflex-dom-contrib.git
	branch = jsaddle
[submodule "deps/jsaddle"]
	path = deps/jsaddle
	url = https://github.com/ghcjs/jsaddle.git
[submodule "deps/dependent-sum-template"]
	path = deps/dependent-sum-template
	url = https://github.com/mokus0/dependent-sum-template.git
[submodule "deps/text"]
	path = deps/text
	url = https://github.com/bos/text.git
[submodule "deps/cabal-macosx"]
	path = deps/cabal-macosx
	url = https://github.com/Rizary/cabal-macosx.git
[submodule "deps/haskell-gi"]
	path = deps/haskell-gi
	url = https://github.com/haskell-gi/haskell-gi.git
[submodule "deps/webkit-javascriptcore"]
	path = deps/webkit-javascriptcore
	url = https://github.com/gtk2hs/webkit-javascriptcore.git
